{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container" role="main">
        {% if tableTitle %}
            <h1>{{ tableTitle }}</h1>
        {% endif %}
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Project</th>
                        <th>Description</th>
                        <th>Assigned to Group?</th>
					</tr>
				</thead>
				<tbody>
                    {% for project in projects %}
					<tr>
						<td><a href="/project?name={{ project.name }}">{{ project.name }}</a></td>
                        <td>{{ item.description }}</td>
                        {% if project.is_assignedToGroup %}
                            <td><a href="/group?name={{ project.assignedGroup }}">Yes</a></td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
        {% if projects %}
            <a href = "/group/assignproj?name={{ group_name }}">Take one of these Projects</a>
        {% else %}
            <a href = "/group/assignproj?name={{ group_name }}">Sorry! No suggestions. Click here to assign any project.</a>
        {% endif %}
		</div>
	</div>

{% endblock %}