{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
        {% if tableTitle %}
            <h1>{{ tableTitle }}</h1>
        {% endif %}
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Bookmarked Project</th>
                        <th>Description</th>
                        <th>Assigned to Group?</th>
					</tr>
				</thead>
				<tbody>
                    {% for project in bookmarks %}
					<tr>
						<td><a href="/project?name={{ project.name }}">{{ project.name }}</a></td>
                        <td>{{ item.description }}</td>
                        {% if project.is_assignedToGroup %}
                            <td><a href="/group?name={{ project.assignedGroup }}">Yes</a></td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                        <td><a href="/bookmarks/remove?name={{ project.name }}" class="btn btn-danger" role="button">Unbookmark</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}