{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
            <h3>Hi {{ user.first_name }} {{ user.last_name }}</h3>
            <h3>Your email is {{ user.email }}</h3>
            <h3>You are a {{ userType }}</h3>
            <!-- <p>{{ project.description }}</p>
			<ul>
				<li>Sponsored by {{ project.company }}</li>
				<li>Developed in {{ project.language }}</li>
				<li>Years of Experience Needed: {{ project.experience }}</li>
			</ul> -->
            {% if request.user.is_student %}
                <div class="table-responsive">
			        <table class="table table-striped sortable">
				        <thead>
					        <tr>
						        <th>Group</th>
						        <th>Description</th>
					        </tr>
				        </thead>
				        <tbody>
					        {% for item in groups %}
					        <tr>
						        <td><a href="/group?name={{ item.name }}">{{ item.name }}</a></td>
						        <td>{{ item.description }}</td>
					        </tr>
					        {% endfor %}
				        </tbody>
			        </table>
		        </div>
            {% endif %}
			<a href="/update" class="btn btn-info">Update Profile</a>
		</div>

	</div>

{% endblock %}