{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
            <h2>Viewing Student Profile - {{ user.first_name }} {{ user.last_name }}</h2>
            <h3>Email - {{ student.user.email}}</h3>
            <h3>University - {{ student.university }}</h3>
            <h3>Languages known - {{ student.knownLanguages }}</h3>
            <h3>Your years of experience is - {{ student.experience }}</h3>
            <h3>Your specialty is - {{ student.specialty }}</h3>
            <h3>About - {{ student.about }}</h3>
            {% if userType == "Student" %}
                <div class="table-responsive">
			        <table class="table table-striped sortable">
				        <thead>
					        <tr>
						        <th>Group</th>
						        <th>Description</th>
					        </tr>
				        </thead>
				        <tbody>
					        {% for item in groups %}
					        <tr>
						        <td><a href="/group?name={{ item.name }}">{{ item.name }}</a></td>
						        <td>{{ item.description }}</td>
					        </tr>
					        {% endfor %}
				        </tbody>
			        </table>
		        </div>
            {% endif %}
			<a href="/update" class="btn btn-info">Update Profile</a>
		</div>

	</div>

{% endblock %}