{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ group.name }}</h1>
			<p>{{ group.description }}</p>
            {% if group.is_assignedToProject %}
                <h3>Group {{group.name}} is currently assigned to Project {{ group.project.name }}</h3>
                <a href="/project?name={{ group.project.name}}" class="btn btn-default">Click here to view Project Page</a>
            {% endif %}
            {% if request.user.is_student %}
			    {% if userIsMember %}
			        <a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
                    <a href="/group/addmem?name={{ group.name }}" class="btn btn-default">Add members</a>
                    {% if group.is_assignedToProject == False %}
                        <a href="/group/assignproj?name={{ group.name }}" class="btn btn-default">Assign a Project</a>
                        <a href="/group/suggestproj?name={{ group.name }}" class="btn btn-default">Suggest a Project</a>
                    {% else %}
                        <a href="/group/leaveproj?name={{ group.name }}" class="btn btn-default">Leave Assigned Project</a>
                    {% endif %}
                {% else %}
			        <a href="/group/join?name={{ group.name }}" class="btn btn-default">Join this Group</a>
			    {% endif %}
            {% endif %}
		</div>
	</div>
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Group Skills Combined</th>
					</tr>
				</thead>
				<tbody>
					{% for item in student %}
					<tr>
						<td>{{ item }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Users</th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}